---
import { Card } from "@astrojs/starlight/components"

const { url } = Astro.props
---
<style>
  .terminal-iframe {
    width: 100%;
    border: none;
  }
</style>

<Card title="Terminal" icon="seti:powershell">
<!-- <div class="card-title">Terminal</div> -->
<iframe title="bastion" id="terminal-iframe" src={url} class="terminal-iframe"></iframe>
</Card>