{
  "name": "rdi-db",
  "type": "redis",
  "authentication_redis_pass": "redislabs",
  "shard_key_regex": [
    {
      "regex": ".*\\{(?<tag>.*)\\}.*"
    },
    {
      "regex": "(?<tag>.*)"
    }
  ],
  "replication": false,
  "memory_size": 1000000000,
  "port": 12001
}
